.container {
  /*min-heiht: 100vh;*/
  padding: 58px 0 0 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*align-items: center;*/
}

.grid { 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 100px; 
  align-items: start;
  }
